body{
    background-color:bisque;
}

h1 {
    text-align: center;
    font-size: 100px;
    color: saddlebrown;
}

img {width: 200px;}

section {display: flex; justify-content: space-between;}

h3{
    color:saddlebrown;
    text-align: center;
}